ul {
  list-style-type: none;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

nav {
  background-color: #D9D7EA;
  height: 102px;
}

footer {
  background-color: #D9D7EA;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  background-color: #F9F9FF;
  height: 552px;
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.everything {
  background-color: #F9F9FF;
}

.profile {
  background-color: #F9F9FF;
  margin-left: 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.saved-info {
  background-color: #F9F9FF;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

img {
  border-radius: 100%;
  height: 169.82px;
  width: 169.82px;
  overflow: hidden;
}

.headers-saved-info {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

hr {
  height: .1px;
  background-color: black;
  margin: 0px;
}

.saved-info p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.saved-info h3 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}

.edit-button {
  background-color: #DBDBE0;
  margin-right: 15px;
}

.save-button {
  background-color: #E8F6EB;
}

button {
  width: 103.53px;
  height: 44.67px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 8px;
}

.logo-title {
  display: flex;
  gap: 10px;
}

.profile-bio {
  display: flex;
  gap: 10px;
  align-items: center;
}

.topnav {
  margin-left: 10px;
  margin-right: 10px;
}

.topnav input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.selected {
  font-weight: bold;
}